* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

%form-base {
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;

  &::placeholder {
    color: #aaaaaa;
  }

  &:focus {
    outline: none;
  }
}

input {
  @extend %form-base;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

textarea {
  @extend %form-base;
}
